.App {
  background-color: #1f2536;
  color: white;
  height: 550px;
}

.logo {
  margin: 15px;
}

.menu {
  margin-left: 800px;
  margin-bottom: 50px;
}

.text-container {
  margin-left: 55px;
}

h1 {
  font-size: 75px;
  width: 400px;
  font-weight: bolder;
  margin-bottom: -20px;
}

.index-text {
  font-size: 20px;
  width: 250px;
}

button {
  margin-top: 25px;
}
